<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deed Report</title>
    <bookmarks>
        <bookmark name="Deed Reports" href="#"></bookmark>
    </bookmarks>
     <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div>
     <div>
     <img src="images/logo.jpg" style="width: 150px;height: 65px;text-align: left;" alt="logo" /> 
     <h3 class="box-title" th:text = "${deedReportRequest.subscriberInputDetails.enquiryType +' Report'}" style="text-align: right;"></h3>
     <div style="text-align: right;">
            <span><small>Bedfordview Corporate park,</small></span>
                <span><small>4 Skeen BLVD, Bedfordview,</small></span>
                <span><small>2001</small></span>
               <span><small>+27 (11) 568 8322</small></span>
                <span><small>+27 (78) 498 7504</small></span>
     </div>
     </div>
     
     </div>
     <!-- Start of  Enquiry Input Details-->
   <hr class="hr_rule"/>
   <div class="title-head"><strong>Enquiry Input Details</strong>
   <h5 class="subtitle-head" th:text = "${deedReportRequest.subscriberInputDetails.subscriberUserName +' search input details'}"></h5>
  </div>
   <hr class="hr-line"/>
 <div class="col">
   <table>
           <tr>
        <th class="th-size-first"></th>
        <th class="th-size-second"></th>
        </tr>
        <tr class="tr-label">
        <td class="td-label">Enquiry Date</td>
        <td class="td-value" th:text = "${deedReportRequest.subscriberInputDetails.enquiryDate}"> </td>
        </tr>
         <tr class="tr-label">
        <td class="td-label">Enquiry Type</td>
        <td class="td-value" th:text = "${deedReportRequest.subscriberInputDetails.enquiryType}"> </td>
        </tr>
         <tr class="tr-label">
        <td class="td-label">Subscriber Name</td>
        <td class="td-value" th:text = "${deedReportRequest.subscriberInputDetails.subscriberName}"> </td>
        </tr>
        <tr class="tr-label">
        <td class="td-label">Subscriber User Name</td>
        <td class="td-value" th:text = "${deedReportRequest.subscriberInputDetails.subscriberUserName}"> </td>
        </tr>
         <tr class="tr-label">
        <td class="td-label">Enquiry Input</td>
        <td class="td-value" th:text = "${deedReportRequest.subscriberInputDetails.enquiryInput}"> </td>
        </tr>
        </table>              
  </div><br/><br/>
   <!-- End of  Enquiry Input Details-->
   
   <!-- Start of Property Information -->
     <hr class="hr-line"/>
    <div class="title-head"><strong>Property Information</strong>
   </div>
  <div class="col">
   <div class="sub-personal">
    <!-- First personal details -->
  <div class="col-table-first-div">
  <table>
      <tr>
       <th class="th-size-first-first-div"></th>
       <th class="th-size-first-second-div"></th>
      </tr>
      <tr class="tr-label">
        <td class="td-label">Reference No.</td>
        <td  class="td-value" th:text = "${deedReportRequest.propertyInformation.referenceNo}"></td>
       </tr>
       <tr class="tr-label">
        <td class="td-label">Property Type</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyInformation.propertyType}"></td>
      </tr>
      <tr class="tr-label">
        <td class="td-label">Street Number</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyInformation.streetNumber}"></td>
       </tr>
       <tr class="tr-label">
        <td class="td-label">Municipal Suburb</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyInformation.suburb}"></td>
       </tr>
       <tr class="tr-label">
        <td class="td-label">Township Name</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyInformation.townshipName}"></td>
       </tr>
   </table>
  </div>
  <!-- Second personal details -->
  <div class="col-table-second-div">
  <table>
      <tr>
        <th class="th-size-second-first-div"></th>
       <th class="th-size-second-second-div"></th>
      </tr>
      <tr class="tr-label">
        <td class="td-label">External Reference No.</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyInformation.externalReferenceNo}"></td>
       </tr>
      <tr class="tr-label">
        <td class="td-label">Stand No</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyInformation.standNo}"></td>
        
      </tr>
      <tr class="tr-label">
        <td class="td-label">Street Name</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyInformation.streetName}"></td>
      </tr>
       <tr class="tr-label">
        <td class="td-label">Municipal City</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyInformation.city}"></td>
      </tr>
       <tr class="tr-label">
        <td class="td-label">Province</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyInformation.porovince}"></td>
      </tr>
    </table>
  </div>
  
</div>
  </div><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/>
  <!-- End of Property Information -->
   <!-- Start of Property Registration Information -->
     <hr class="hr-line"/>
    <div class="title-head"><strong>Property Registration Information</strong>
   </div>
  <div class="col">
   <div class="sub-personal">
    <!-- First personal details -->
  <div class="col-table-first-div">
  <table>
      <tr>
       <th class="th-size-first-first-div"></th>
       <th class="th-size-first-second-div"></th>
      </tr>
      <tr class="tr-label">
        <td class="td-label">Deeds Office</td>
        <td  class="td-value" th:text = "${deedReportRequest.propertyRegistrationInformation.deedsOffice}"></td>
       </tr>
       <tr class="tr-label">
        <td class="td-label">Title Deed Number</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyRegistrationInformation.titleDeedNo}"></td>
      </tr>
      <tr class="tr-label">
        <td class="td-label">Transfer Date</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyRegistrationInformation.transferDate}"></td>
       </tr>
       <tr class="tr-label">
        <td class="td-label">Sold price</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyRegistrationInformation.soldPrice}"></td>
       </tr>
       
   </table>
  </div>
  <!-- Second personal details -->
  <div class="col-table-second-div">
  <table>
      <tr>
        <th class="th-size-second-first-div"></th>
       <th class="th-size-second-second-div"></th>
      </tr>
      <tr class="tr-label">
        <td class="td-label">Transfer ID</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyRegistrationInformation.transferId}"></td>
       </tr>
      <tr class="tr-label">
        <td class="td-label">Old Title Deed Number</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyRegistrationInformation.oldtitleDeedno}"></td>
        
      </tr>
      <tr class="tr-label">
        <td class="td-label">Purchase Date</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyRegistrationInformation.purchaseDate}"></td>
      </tr>
       <tr class="tr-label">
        <td class="td-label">Size of Erf</td>
        <td class="td-value" th:text = "${deedReportRequest.propertyRegistrationInformation.erfSize}"></td>
      </tr>
    </table>
  </div>
  
</div>
  </div><br/>
   <!-- End of Property Registration Information -->
   
   <!-- Start of Buyer and Seller Information -->
     <hr class="hr-line"/>
    <div class="title-head"><strong>Buyer and Seller Information</strong>
   </div>
  <div class="col">
   <div class="sub-personal">
    <!-- First personal details -->
  <div class="col-table-first-div">
  <table>
      <tr>
       <th class="th-size-first-first-div"></th>
       <th class="th-size-first-second-div"></th>
      </tr>
      <tr class="tr-label">
        <td class="td-label">Buyer Type Code</td>
        <td  class="td-value" th:text = "${deedReportRequest.buyerandSellerInformation.buyerTypeCode}"></td>
       </tr>
       <tr class="tr-label">
        <td class="td-label">Buyer ID Number</td>
        <td class="td-value" th:text = "${deedReportRequest.buyerandSellerInformation.buyerIDNo}"></td>
      </tr>
      <tr class="tr-label">
        <td class="td-label">Buyer Name</td>
        <td class="td-value" th:text = "${deedReportRequest.buyerandSellerInformation.buyerName}"></td>
       </tr>
       <tr class="tr-label">
        <td class="td-label">Buyer Marital Status</td>
        <td class="td-value" th:text = "${deedReportRequest.buyerandSellerInformation.buyerMaritalStatus}"></td>
       </tr>
       
   </table>
  </div>
  <!-- Second personal details -->
  <div class="col-table-second-div">
  <table>
      <tr>
        <th class="th-size-second-first-div"></th>
       <th class="th-size-second-second-div"></th>
      </tr>
      <tr class="tr-label">
        <td class="td-label">Seller Type Code</td>
        <td class="td-value" th:text = "${deedReportRequest.buyerandSellerInformation.sellerTypeCode}"></td>
       </tr>
      <tr class="tr-label">
        <td class="td-label">Seller ID Number</td>
        <td class="td-value" th:text = "${deedReportRequest.buyerandSellerInformation.sellerIDNo}"></td>
        
      </tr>
      <tr class="tr-label">
        <td class="td-label">Seller Name</td>
        <td class="td-value" th:text = "${deedReportRequest.buyerandSellerInformation.sellerName}"></td>
      </tr>
       <tr class="tr-label">
        <td class="td-label">Seller Marital Status</td>
        <td class="td-value" th:text = "${deedReportRequest.buyerandSellerInformation.sellerMaritalStatus}"></td>
      </tr>
    </table>
  </div>
  
</div>
  </div><br/>
   <!-- End of Buyer and Seller Information -->
   
   <!-- Start of Bond Information -->
     <hr class="hr-line"/>
   <div class="title-head"><strong>Bond Information</strong>
  </div>
 <div class="col">
   <table>
           <tr>
        <th class="th-size-first"></th>
        <th class="th-size-second"></th>
        </tr>
        <tr class="tr-label">
        <td class="td-label">Bond Holders Name</td>
        <td class="td-value" th:text = "${deedReportRequest.bondInformation.bondHoldername}"> </td>
        </tr>
         <tr class="tr-label">
        <td class="td-label">Bond Registered Amount</td>
        <td class="td-value" th:text = "${'R'+deedReportRequest.bondInformation.bondAmount}"> </td>
        </tr>
         <tr class="tr-label">
        <td class="td-label">Bond Account Number</td>
        <td class="td-value" th:text = "${deedReportRequest.bondInformation.bondAccountNo}"> </td>
        </tr>
        </table>              
  </div>
  <br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/>
   <!-- End of Bond Information -->
   
   <!-- Start of Attorney Information -->
    <hr class="hr-line"/>
    <div class="title-head"><strong>Attorney Information</strong>
   </div>
  <div class="col">
   <div class="sub-personal">
    <!-- First personal details -->
  <div class="col-table-first-div">
  <table>
      <tr>
       <th class="th-size-first-first-div"></th>
       <th class="th-size-first-second-div"></th>
      </tr>
      <tr class="tr-label">
        <td class="td-label">Attorney Firm Number</td>
        <td  class="td-value" th:text = "${deedReportRequest.attorneyInformation.attorneyFirmNo}"></td>
       </tr>
       <tr class="tr-label">
        <td class="td-label">Capture Date</td>
        <td class="td-value" th:text = "${deedReportRequest.attorneyInformation.externalSourceUpdatedDate}"></td>
      </tr>
   </table>
  </div>
  <!-- Second personal details -->
  <div class="col-table-second-div">
  <table>
      <tr>
        <th class="th-size-second-first-div"></th>
       <th class="th-size-second-second-div"></th>
      </tr>
      <tr class="tr-label">
        <td class="td-label">Attorney File Number</td>
        <td class="td-value" th:text = "${deedReportRequest.attorneyInformation.attorneyFileNo}"></td>
       </tr>
      <tr class="tr-label">
        <td class="td-label">Title Deed Fee</td>
        <td class="td-value" th:text = "${'R'+deedReportRequest.attorneyInformation.titleDeedFee}"></td>
      </tr>
    </table>
  </div>
  
</div>
  </div><br/>
   <!-- End of Attorney Information -->
   
   <!-- Start of Property History -->
               <div class="col">
                     <div class="title-head"><strong>Property History</strong></div>
                    <hr class="hr-line"/>
                     <table class="table-list" th:if="${not #lists.isEmpty(deedReportRequest.propertyHistory)}">
                        <tr class="tr-list">
						<th class = "th-list">Title Deed Number</th>
						<th  class = "th-list">Property Type</th>
						<th  class = "th-list">Buyer Name</th>
						<th  class = "th-list">Seller Name</th>
						<th  class = "th-list">Sold Price</th>
						<th  class = "th-list">Purchase Date</th>
					</tr>
					    <tr class="border_bottom" th:each="row : ${deedReportRequest.propertyHistory}">
                            <td th:text="${row.titleDeedNo}"></td>
                            <td th:text="${row.propertyType}"></td>
                             <td th:text="${row.buyerName}"></td>
                            <td th:text="${row.sellerName}"></td>
                            <td th:text="${'R'+row.soldPrice}"></td>
                            <td th:text="${row.purchaseDate}"></td>
                        </tr>
                    </table>
                    <span th:if="${#lists.isEmpty(deedReportRequest.propertyHistory)}" th:text="${deedReportRequest.deedReportMessage.noProperyHistory}"></span>
              
                    </div><br/>
   <!-- End of Property History -->
   
   <!-- Start of Buyer History -->
             <div class="col">
                     <div class="title-head"><strong>Buyer History</strong></div>
                    <hr class="hr-line"/>
                     <table class="table-list" th:if="${not #lists.isEmpty(deedReportRequest.buyerHistories)}">
                        <tr class="tr-list">
						<th class = "th-list">Title Deed Number</th>
						<th  class = "th-list">Property Type</th>
						<th  class = "th-list">Buyer Name</th>
						<th  class = "th-list">Seller Name</th>
						<th  class = "th-list">Stand No</th>
						<th  class = "th-list">Portion No</th>
						<th  class = "th-list">Province</th>
					</tr>
					    <tr class="border_bottom" th:each="row : ${deedReportRequest.buyerHistories}">
                            <td th:text="${row.titleDeedNo}"></td>
                            <td th:text="${row.propertyType}"></td>
                             <td th:text="${row.buyerName}"></td>
                            <td th:text="${row.sellerName}"></td>
                            <td th:text="${row.standNo}"></td>
                             <td th:text="${row.portionNo}"></td>
                            <td th:text="${row.province}"></td>
                        </tr>
                    </table>
                    <span th:if="${#lists.isEmpty(deedReportRequest.buyerHistories)}" th:text="${deedReportRequest.deedReportMessage.noBuyerHistory}"></span>
              
                    </div><br/>
   <!-- End of Buyer History -->
   
    <!-- Start of Seller History -->
    <div class="col">
                     <div class="title-head"><strong>Seller History</strong></div>
                    <hr class="hr-line"/>
                     <table class="table-list" th:if="${not #lists.isEmpty(deedReportRequest.sellerHistories)}">
                        <tr class="tr-list">
						<th class = "th-list">Title Deed Number</th>
						<th  class = "th-list">Property Type</th>
						<th  class = "th-list">Buyer Name</th>
						<th  class = "th-list">Seller Name</th>
						<th  class = "th-list">Stand No</th>
						<th  class = "th-list">Portion No</th>
						<th  class = "th-list">Province</th>
					</tr>
					    <tr class="border_bottom" th:each="row : ${deedReportRequest.sellerHistories}">
                            <td th:text="${row.titleDeedNo}"></td>
                            <td th:text="${row.propertyType}"></td>
                             <td th:text="${row.buyerName}"></td>
                            <td th:text="${row.sellerName}"></td>
                            <td th:text="${row.standNo}"></td>
                             <td th:text="${row.portionNo}"></td>
                            <td th:text="${row.province}"></td>
                        </tr>
                    </table>
                    <span th:if="${#lists.isEmpty(deedReportRequest.sellerHistories)}" th:text="${deedReportRequest.deedReportMessage.noSellerHistory}"></span>
              
                    </div><br/><br/>
   <!-- End of Seller History -->
   
  </body>
</html>